<html>
<head>
  <title id="_title">You did it!</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    $('document').ready(function(){



      //Setting up your stuff (if it exists ;) )
      $.get('/done/porto/'+username,function(data){
        if(data!=null){
          $.get('/links/+username',function(data){
            if(data!=null){

            }else console.log("no links :(");
          });
          $.get('/screenshots/+username',function(data){
            if(data!=null){
              $.get('/screenshots/'+username,function(data){
                console.log(JSON.stringify(data));
              });
            }else console.log("no screenshots :(");
          });
        }else console.log("No portfolio son");
      });


      //Hiding all unneeded pesky divs
      $("#port").hide();
      $("#add").hide();
      $("#enter").hide();
      $("#add_screenshot").hide();
      $("#add_link").hide();


      //Getting the username
      var username = $(location). attr("href").split('/')[$(location). attr("href").split('/').length-1];
      console.log(username);
      $('#ababa').text("Welcome , "+username);


      //Something special
      $("#add_screenshot").attr("action","/upload/"+username);


      //Creating a new portfolio option
      $('#butt').on('click',function(){
        $.get('/done/porto/'+username,function(data){
          if(data!=null)alert('You already have a portfolio!');
          else{
            $("#port").show();
          }
        });
      });

      //Showing divs
      $("#b_add_screenshot").on("click",function(){
        $("#add_link").hide(),$("#add_screenshot").show();
        $.post('/damn',{name : $("#name").val(), username : username});
      });
      $("#b_add_link").on("click",function(){
        $("#add_screenshot").hide();$("#add_link").show()
        //$.post('/damn',{name : $("#name").val(), username : username});
      });

      $("#butt2").on("click",function(){$("#port").show();});

      //submissions
      $("#submit_link").on("click",function(){
        $.post("/link",{link : $("#zelda").val(), username : username});
      });

    });
  </script>
</head>
<body>
  <h1 id="ababa">Welcome</h1>

  <div>
    <div id="screens">

    </div>


  </div>

  <button id="butt">Create portfolio</button><button id="butt2">Add item to portfolio</button>

  <div id="add">
    Screenshot <input id="scr" type="file" name="sc"  accept="image/*" /><br />
    Link <input id="link" type="text"  /><br />
    <button id="add_item">Submit</button>
  </div>

  <div id="port">
    Full Name <input id="name" type="text" /><br />
    <button id="b_add_screenshot">Add Screenshot</button><button id="b_add_link">Add Link</button>

    <form id="add_screenshot" method="POST" enctype="multipart/form-data" action="/upload"><input id="screenshot" type="file" name="myimage" /><br />
      <input type="submit" />
    </form>

    <div id="add_link">
      <input type="text" id="zelda" />
      <button id="submit_link">Submit Link</button>
    </div>

  </div>
</body>
</html>
